<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>URL Analytics Dashboard</title>
<link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="container">
  <h1 style="text-align: center; color: #555; margin-bottom: 20px; font-size:40px;">Analytics Dashboard</h1>
  <div id="analytics"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./index.js"></script>

</body>
</html>
