/* Basic styling for the dashboard */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom right, #ff7e5f, #feb47b); */
    background: linear-gradient(to bottom right, #221f1f, #221f1d); 
    color: #333; /* Text color */
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Box shadow for container */
  }
  .analytics-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9; /* Light gray background */
    text-align: center; /* Center align text */
    color: #444; /* Text color for analytics items */
  }
  .analytics-item h3 {
    margin-top: 0;
    color: #555; /* Header text color */
  }
  .visit-info {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
  }
  .visit-info li {
    margin-bottom: 10px;
  }
  .timestamp {
    font-family: 'Courier New', Courier, monospace; /* Different font for timestamp */
    color: #f44336; /* Red color for timestamp */
  }
  .ip-address {
    font-family: 'Arial', sans-serif; /* Different font for IP address */
    color: #2196f3; /* Blue color for IP address */
  }
  a.custom-link {
    color: #FF5733; /* Normal link color */
    text-decoration: none; /* Remove underline */
  }
  
  a.custom-link:hover {
    color: #FFC300; /* Link color on hover */
  }
  
  a.custom-link:visited {
    color: #C70039; /* Visited link color */
  }